.search-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

#search-bar {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.close-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #aaa;
    user-select: none;
}

.close-icon:hover {
    color: #333;
}
